body 
{
margin: 0px 36px 36px 36px;
background-color:black;
color:#77aa89;
padding:0px;
}

h1
{
font-size:250%;
font-family:Neue Montreal;
font-weight:normal;
margin-top:26px;
margin-bottom: 26px;
margin-left: 0px;
margin-right: 0px;
display:inline;
}

/*.border_display
{
border-radius:10px;
width:1195px;
height:180px; 
margin-top:-180px;
background-color:#77aa89;
}
*/

.luce
{
border-radius: 10px solid #77aa89;
border-collapse: collapse;
background-color:#77aa89;
border-radius:10px;
height:170px; 
margin-top:-180px;
padding-top:10px;
}

.luce:hover
{
border-radius: 10px solid black;
border-collapse: collapse;
background-color:black;
border-radius:10px;
height:170px; 
margin-top:-180px;
padding-top:10px;
animation:mymove 0.5s;
animation-iteration-count: infinite;
}
@keyframes mymove 
{
  from {top:0px; background-color:black;}
  to {top:0px; background-color:#77aa89;}
}

table, td 
{
border-radius: 10px solid #77aa89;
border-collapse: collapse;
background-color:#77aa89;
border-radius:10px;
height:170px; 
padding-top:10px;
padding-bottom:0px;
}

.vibrazione:hover
{
animation: shake 0.5s;
animation-iteration-count: infinite;
}

@keyframes shake
{
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }	
}

.border_radius
{
border-radius:10px;
padding-top:0px;
width:120px;
height:50px; 
background-color:#77aa89;	
}


#nav:hover
{
background-color: black;
color:#77aa89;
border: 1px solid #77aa89;	
-ms-transform:scale(1.1);
-webkit-transform:scale(1.1);
transform:scale(1.1);
/*
-ms-transform:rotate(10deg);
transform:rotate(10deg);*/
}


#nav
{
margin-top: 80px;
float:right;
color:black;
text-decoration:none;
color:black;
margin-top:26px;
margin-right:-305px;
font-size:250%;
font-family:Neue Montreal;
text-align:center;
}

h2
{
font-size:250%;
font-family:Neue Montreal;
font-weight:normal;
margin-top:100px;
white-space:pre;  
}

.border
{
border-bottom:2px solid #77aa89;
padding-top:0px;
padding-bottom:4px;	
}

.griglia
{
max-width:1400px;
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-column-gap:25px;
grid-row-gap:10px;
margin-bottom:10px;
}

.colonna_1
{
/*outline: 1px red solid;*/
grid-column:span 1;
min-height:10px;
}
		
.colonna_2 
{
grid-column: span 6;
}

.colonna_3 
{
grid-column: span 4;
}
		
.colonna_4 
{
grid-column: span 5;
}


.numeridisplay
{
font-size:1400%;
font-family:NeueBit, monospace;
font-weight:900;
color:black;
margin-top:20px;
text-align:center;
}

p 
{
margin:0;
}

.paragrafointro
{
font-size:200%;
font-family:Neue Montreal;
font-weight:350;
line-height:1;
text-align:auto;
word-spacing:auto;
font-size-adjust: 1;
}

.paragrafobase
{
font-size:150%;
font-family:Neue Montreal;
font-weight:350;
line-height:1;
text-align:auto;
word-spacing:auto;
font-size-adjust: 1;
}
	
.img1
{
width:82%;
border-radius:10px;	
}

.dida
{
font-size:150%;
font-family:Neue Montreal;
font-weight:350;
line-height:1;
white-space:pre;		
}

.imgstatistica
{
width:90%;
margin-left:-30px;
}

.numeri
{
font-size:250%;
font-family:Neue Montreal;
font-weight:350;
line-height:1;
margin-top:60px;
display:block;	
}

.img2
{
width:130%;
margin-top:60px;
margin-left:-150px;
}

h3 
{
font-size:300%;
font-family:NeueBit;
font-weight:700;
margin-top:60px;
margin-bottom: 30px;
}

a
{
color:#77aa89;
}

@media (max-width:600px) 
{

.griglia {
max-width: initial;
display: block;
}

.colonna_1 
{
margin-bottom: 1em;
}

}




